body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    position: fixed;
    height: 100%;
    transition: width 0.3s;
}

.sidebar:hover {
    width: 220px; /* Aumenta a largura quando o mouse passa sobre o menu */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    transition: background-color 0.3s;
}

.sidebar li:hover {
    background-color: #444; /* Altera a cor de fundo quando o mouse passa sobre um item */
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 15px;
    transition: color 0.3s;
}

.sidebar a:hover {
    color: #007bff; /* Altera a cor do texto quando o mouse passa sobre um link */
}

.form-container {
	margin-left: 250px;
	padding: 20px;
}

.form {
	display: none;
}

.form.active {
	display: block;
}

label {
	display: block;
	margin-bottom: 5px;
}

.form-group input{
    width: 100%;
}


